@model Avanzada.ViewModel.InicioSesion.IndexViewModel


<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/estilos2.css">
    <script src="~/validaciones.js"></script>

    <title>Inicio Sesion</title>
</head>




<body class="background_login">
    <div class="centrar-login">
        <div class="container main-section">


            <form method="post" action="/Sesion/AccederInicio/">

                <div class="row">
                    <div class="col-md-12 text-center user-login-header">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 user-image-section">
                                <img src="http://www.bizchoiceonline.com/images/RegUser.png" class="image">
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input id="email" type="text" class="form-control" asp-for="Mi_Sesion.Usuario" name="email" placeholder="Usuario">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </span>
                                        <input type="password" class="form-control" asp-for="Mi_Sesion.Contraseña" name="pwd" placeholder="Password" id="usr">
                                    </div>

                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 last-part">
                                    <p>
                                        Contraseña olvidada?
                                        <a href="#" data-toggle="modal" data-target="#Recuperar" onclick="alert('La contraseña sera reenvida al correo registrado en nuestro sistema')"> Recuperarla</a>
                                    </p>
                                </div>

                                <div class="alert alert-success" hidden="true" id="alerta">
                                    <strong>La contraseña sera enviada al corre registrado en nuestro sistema</strong>
                                </div>


                                @*<button type="button" class="btn btn-default" aria-label="Left Align" onclick="ValidaLogin()">
                                        <span class="fa fa-sign-in" aria-hidden="true"></span>
                                        <a href="Inicio.html" class="btn blue-gradient btn-rounded">Login</a>
                                    </button>*@

                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn_registrar">Login <span class="fa fa-sign-in" aria-hidden="true"></span></button>

            </form>

        </div>
    </div>

</body>


</html>