@model Avanzada.ViewModel.PersonaViewModel.CrearViewModel
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = Model.Title;
}


<header>

    <nav class="navbar navbar-toggleable-md navbar-inverse navbar-fixed-top bg-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="fa fa-user"></span> Persona</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-controller="Inicio" asp-action="Index">Inicio <span class="sr-only">(current)</span></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registro <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Persona" asp-action="Crear">Agregar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-controller="Persona" asp-action="Editar">Editar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-controller="Persona" asp-action="Eliminar">Eliminar</a></li>

                        </ul>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#Asistencia">Asistencia Tecnica</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


</header>

<!-- Modal -->
<div class="modal fade" id="Asistencia" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pongase en contacto con nosotros</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Identificacion</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Corta Descripcion:</label>
                        <input type="text" name="" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="alert('Pronto nos pondremos en contacto con usted')">Enviar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<body class="body_registro">

    <section class="color_label_registro">

        <div class="container">

            <h3 class="titulos">@ViewBag.Title</h3>
            <hr>
        </div>

        <div id="wrapper" class="container">

            <form method="post" action="/Persona/Crear/">

                <fieldset>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="Nombre">Nombre</label>
                            <input asp-for="Nombre" class="form-control" placeholder="Jon" type="text">
                            <span asp-validation-for="Nombre"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="Apellido">Apellido</label>
                            <input asp-for="Apellido" class="form-control" placeholder="Doe" type="text">
                            <span asp-validation-for="Apellido"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="Telefono">Telefono</label>
                            <div class="input-group">
                                <span class="input-group-addon">+506</span>
                                <input asp-for="Telefono" class="form-control" placeholder="12345678" type="number">
                            </div>
                            <span asp-validation-for="Telefono"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="Cedula">Cedula</label>
                            <div class="input-group">
                                <span class="input-group-addon">ID</span>
                                <input asp-for="Cedula" class="form-control" placeholder="000000000" type="number">

                            </div>
                            <span asp-validation-for="Cedula"></span>
                        </div>
                    </div>




                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="Carne">Carne</label>
                            <input asp-for="Carne" class="form-control" placeholder="201801110256" type="number">
                            <span asp-validation-for="Carne"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="FechaNacimiento">Fecha nacimiento</label>
                            <input type="date" asp-for="FechaNacimiento" class="form-control">
                            <span asp-validation-for="FechaNacimiento"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="Correo">Correo</label>
                            <input asp-for="Correo" class="form-control" placeholder="ejemplo@org.com" type="email">
                            <span asp-validation-for="Correo"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="Sexo">Sexo</label>
                            <select asp-for="Sexo" class="form-control" asp-items="@Model.Sexo"></select>
                            <span asp-validation-for="Sexo"></span>
                        </div>
                    </div>


                    @*<div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="Usuario">Usuario</label>
                            <input asp-for="Usuario" class="form-control" placeholder="Usuario" type="text" disabled>
                            <span asp-validation-for="Usuario"></span>
                        </div>
                    </div>*@

                </fieldset>

                <button type="submit" class="btn btn-dark btn-lg btn_registrar" >Registrar <span class="fa fa-save" aria-hidden="true"></span></button>
            </form>
        </div>
    </section>
</body>

